* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    color: #222;
}

/* MENU */

header {
    background: #101827;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}

.logo {
    color: #38bdf8;
    font-size: 28px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
}

nav a:hover {
    color: #38bdf8;
}

/* INICIO */

.inicio {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: linear-gradient(
        135deg,
        #0f172a,
        #1e40af,
        #0284c7
    );

    color: white;
}

.inicio h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.inicio span {
    color: #38bdf8;
}

.inicio p {
    font-size: 21px;
    margin-bottom: 30px;
}

/* BOTONES */

.boton {
    display: inline-block;
    background: #38bdf8;
    color: #07111f;
    padding: 13px 25px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: bold;
}

.boton:hover {
    background: white;
}

/* PAGINAS */

.pagina {
    min-height: 80vh;
    padding: 70px 8%;
}

.pagina > h1 {
    text-align: center;
    font-size: 40px;
    color: #1e3a8a;
    margin-bottom: 45px;
}

/* NOSOTROS */

.contenido {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 20px #0002;
}

.contenido h2 {
    color: #0284c7;
    margin-bottom: 12px;
}

.contenido p {
    line-height: 1.8;
    margin-bottom: 30px;
}

/* PRODUCTOS */

.productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.producto {
    background: white;
    padding: 30px 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 5px 20px #0002;
}

.producto:hover {
    transform: translateY(-5px);
}

.icono {
    font-size: 60px;
    margin-bottom: 15px;
}

.producto h2 {
    color: #1e3a8a;
    margin-bottom: 12px;
}

.producto p {
    color: #666;
    line-height: 1.5;
    margin-bottom: 15px;
}

.producto strong {
    color: #0284c7;
    font-size: 25px;
}

/* CONTACTO */

.contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.info {
    background: #101827;
    color: white;
    padding: 40px;
    border-radius: 15px;
}

.info h2 {
    color: #38bdf8;
    margin-bottom: 25px;
}

.info p {
    margin: 20px 0;
}

form {
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 5px 20px #0002;
}

input,
textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 15px;
}

textarea {
    height: 130px;
}

button {
    width: 100%;
    padding: 14px;
    background: #1e3a8a;
    color: white;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #0284c7;
}

/* FOOTER */

footer {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 25px;
}

/* CELULAR */

@media (max-width: 900px) {

    header {
        height: auto;
        padding: 20px;
        flex-direction: column;
        gap: 20px;
    }

    nav a {
        margin: 0 7px;
        font-size: 14px;
    }

    .inicio h1 {
        font-size: 38px;
    }

    .productos {
        grid-template-columns: 1fr 1fr;
    }

    .contacto {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {

    .productos {
        grid-template-columns: 1fr;
    }
}
